{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Issues Classification Demo Tool</title>
    <style>
        h1 { margin-top:5%; text-align: center; font-family: sans-serif;  margin-bottom: 100px;}
        h2 { text-align: center; margin-left:2%;  font-size:1.8em;}
        pre{
            font-size:20px;
            font-weight: bold;
            font-family: sans-serif, 'Lucida Sans Regular' , Geneva;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Issues Classification Demo Tool</h1>
    <h2>Summary</h2>
    <pre>
        When user enters User Manual and Issue Data link on the Issues Claasification homepage, 
        the system crawls data of the web links, classifies issues by requirements.
        Then user gets an e-mail that is attached a zip file of Issue Classification 
        and result table web link which arranges issue data classified by requirements.

        
    </pre>
    <h2>Introduction</h2>
    <pre>
        First, make sure all fields are entered and valid.
        Enter Project Name, User Manual and Issue Data links, and your E-mail address.
        Start Number and End number of Issue are basically 1 and 10 if you don't change.
        
        Second, click the send button.
        The system will start crawling web link data to html documents. 
        This progress will take a minute.
        <div style="max-height: 300px; overflow: hidden;"><img src="{% static '1_1.png' %}" style="width : 800px; margin-top: -80px;"></div>
        Third, check an e-mail attached a zip file that is sended to your e-mail address.  
        The zip file has issue data links which is html documents.
        There is User Manual, Issue Data and Result links in the main of the e-mail.
        <img src="{% static '1_4.png' %}" style="width : 800px; margin-top:30px;">
        Finally, click the Result link on the e-mail to check arranged results.  
        There is a table that represent arranged results of crawling and classifing issue data.
        You can check Document name, the number of issue and html web link of issue data.
        <div style="max-height: 300px; overflow: hidden;"><img src="{% static '1_2.png' %}" style="width : 800px; margin-top: -80px;"></div>
    </pre>
    <div align="center" style="margin-bottom:100px;"><button style="width:500px;"><h2><a href="{% url 'home' %}">Issues Classification Demo Tool Link</a></h2></button></div>
</body>
</html>

<!-- &nbsp 공백 표현할 때 -->
<!-- git 이전 commit으로 되돌리는 법
git log
git revert 34gj2g5
git log 나가려면 q -->